/* Custom Roadmap Section */
.custom-roadmap {
  /* background: linear-gradient(135deg, #1a1a2e, #16213e); */
  /* border: 2px solid rgba(0, 230, 230, 0.5); */
  padding: 3rem;

  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* Add shadow for depth */
}

/* Timeline Layout */
.timeline {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Default to column for mobile */
   justify-content: center;
    align-items: center;

}

.timeline-item {
  position: relative;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column; /* Default to column for mobile */
}

.timeline-icon {
  background: #00e6e6;
  color: #1a1a2e;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-shadow: 0 0 10px #00e6e6, 0 0 20px #00e6e6, 0 0 30px #00e6e6;
  z-index: 2;
  margin-bottom: 1.5rem; /* Margin for mobile layout */
}

.timeline-content {
 width: 250px;
  height: 200px;
  margin-top: 5rem;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 10px rgba(0, 230, 230, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-grow: 1;
}

.timeline-item:hover .timeline-content {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 230, 230, 0.5);
}

.timeline-line {
  position: absolute;
  width: 3px;
  height: 00%;
  background: #00e6e6;
  left: -24px; /* Center of the icon */
  top: -60px; /* Bottom of the icon */
  z-index: 1;
  box-shadow: 0 0 10px #00e6e6, 0 0 20px #00e6e6;
}

.timeline-line::before {
  content: 'Q';
  color: aliceblue;
  position: absolute;
  width: 26px;
  height: 26px;
  background: #00e6e6;
  left: -30.5px;
  top: -5px;
  border-radius: 50%;
  box-shadow: 0 0 10px #00e6e6, 0 0 20px #00e6e6;
}

/* Media query for desktop layout */
@media (min-width: 1050px) {
  .timeline {
    flex-direction: row; /* Switch to row for tablet and desktop */
    align-items: flex-start;
  }

  .timeline-item {
    flex-direction: row; /* Switch to row for tablet and desktop */
    padding: 1.5rem;
  }

  .timeline-icon {
    margin-bottom: 0; /* Reset margin for tablet and desktop layout */
    margin-right: 1.5rem; /* Margin for tablet and desktop layout */
  }


}
/* Gradient Title */
.gradient-title {
  background: linear-gradient(90deg, #00e6e6, #00b3b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
